* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nerko One', cursive;
}

#timer,
#result_number {
  display: none;
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
}
#timer.active,
#result_number.active {
  display: block;
}
#timer .text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 250px;
  height: 250px;
  line-height: 230px;
  border: 10px solid #ffffff;
  border-radius: 50%;
  color: #ffffff;
  font-size: 150px;
  text-align: center;
}
#result_number .text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  color: #198a1e;
}
